.section__container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section__wrapper {
  margin-bottom: 24px;
}

.section__page {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #fefefe;
}

.expansion__container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #fefefe;
  min-height: 16px;
  padding: 8px;
  cursor: pointer;
}

.section_hidden {
  display: none;
}